


<div class=" col-lg-4 p-1 "> 
    <div class="card">
        <img class="card-img-top" src="{{Child_item.pimg}}" alt="item img">
        <div class="card-body">
            
          <h6 class="card-title">{{Child_item.pname}}</h6>
          <h6 class="card-title">{{Child_item.pprice}}</h6>
          <h6 class="card-title">{{Child_item.pdesc}}</h6>
          <button type="button" class="btn btn-outline-warning">Edit</button>&nbsp;
          <button type="button" class="btn btn-outline-danger">Delete</button>   
        </div>
    </div>
</div>  